body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

#logo {
    max-width: 100px;
}

h1,
h2 {
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}

input,
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px);
}

button {
    background-color: #27ae60;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #219653;
}

.scoreboard-container {
    max-width: 800px;
    margin: 20px auto;
}

#score-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#score-table th,
#score-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#score-table th {
    background-color: #f2f2f2;
}

#score-list tr:hover {
    background-color: #f5f5f5;
}

#timer {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 15px;
    margin-top: 20px;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 0.5s;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card.open {
    transform: rotateY(180deg);
}

#card-type {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

#card-type::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#card-type option {
    background-color: #fff;
    color: #333;
}

#canvas {
    display: none;
}

#buttons {
    margin-top: 20px;
}

#scoreboard {
    color: #e74c3c;
    font-size: 20px;
    margin-top: 10px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.image-container img {
    max-width: 80px;
    height: auto;
    margin-right: 8px;
}

.item-container {
    text-align: center;
    margin-bottom: 10px;
}

.item-label {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 35px;
    color: #d20a0a;
    font-weight: bold;
}